/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type=radio]{
    display: none;
}
body{
    background-color: bisque;
}

/* slider */
.slider{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__container{
    overflow: hidden;
    width: 1000px;
    height: 600px;
    margin: auto;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}
.slider__track{
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.slider__track .slide{
    width: 25%;
}

/* bullets */
.bullets{
    display: flex;
    align-items: flex-start;
}
.bullet-wrap{
    padding: 15px;
    position: relative;
    display: flex;
    cursor: pointer;
}
.bullet-wrap .dot{
    transition: .3s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: darkcyan;
    border: 1px solid darkblue;
    display: flex;
}
.bullet-wrap:hover .dot{
    background-color: aqua;
    border-color: cornflowerblue;
}

#slide1:checked ~ .bullets label:nth-child(1) .dot,
#slide2:checked ~ .bullets label:nth-child(2) .dot,
#slide3:checked ~ .bullets label:nth-child(3) .dot,
#slide4:checked ~ .bullets label:nth-child(4) .dot{
    background-color: red;
    transition: .3s;
}


#slide1:checked ~ .slider__container .slider__track {
    margin-left: 0;
 }
 #slide2:checked ~ .slider__container .slider__track {
    margin-left: -100%;
 }
 #slide3:checked ~ .slider__container .slider__track {
    margin-left: -200%;
 }
 #slide4:checked ~ .slider__container .slider__track {
    margin-left: -300%;
 }